@model List<NguyenQuocDai_2118110097.ContactDB.Category>
@{ ViewBag.Title = "Index"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">

                <div class="card card-category">
                    <div class="img-wrap" style="background: #ffd7d7">
                        <a href="@Url.Action("ProductCategory","Category", new { @id=item.Id },null)">
                            <img src="~/Public/@item.Img">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="@Url.Action("ProductCategory","Category", new { @id=item.Id },null)">@item.Name</a></h4>
                    </div>
                </div>
            </div> <!-- col.// -->
        }
        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
